<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.APIGateway" version="3.3.11" targetFramework="net45" />
  <package id="AWSSDK.AutoScaling" version="3.3.2.3" targetFramework="net461" />
  <package id="AWSSDK.CloudFormation" version="3.3.8.3" targetFramework="net461" />
  <package id="AWSSDK.CloudFront" version="3.3.6.1" targetFramework="net461" />
  <package id="AWSSDK.CloudWatch" version="3.3.4.3" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.17" targetFramework="net45" />
  <package id="AWSSDK.CognitoSync" version="3.3.1.26" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.19" targetFramework="net45" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.20" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.3.37" targetFramework="net461" />
  <package id="AWSSDK.ElastiCache" version="3.3.5.1" targetFramework="net461" />
  <package id="AWSSDK.IdentityManagement" version="3.3.5.3" targetFramework="net461" />
  <package id="AWSSDK.Kinesis" version="3.3.3.3" targetFramework="net461" />
  <package id="AWSSDK.Lambda" version="3.3.8.3" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.3.11" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.14" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.3" targetFramework="net45" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.24" targetFramework="net461" />
  <package id="AWSSDK.SimpleWorkflow" version="3.3.0.24" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.3.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net45" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
</packages>